<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Teacher</title>
</head>
<body>
    <div align="center">
        <h1>Edit Teacher</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${teacher}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr><td>Teacher ID:</td>
                    <td><input type="text" th:field="*{id}" readonly="readonly" /></td></tr>        
                <tr>             
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{fName}" required="required" minlength="3" maxlength="25" onkeypress="return /[a-z ]/i.test(event.key)"/></td>
                </tr>
                <tr> <td>Last Name:</td>
                    <td><input type="text" th:field="*{lName}" required="required" minlength="3" maxlength="25" onkeypress="return /[a-z ]/i.test(event.key)"/></td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td><input type="text" th:field="*{subject}" required="required" minlength="3" maxlength="250"/></td>
                </tr>                         
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>