<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <meta charset="utf-8"/>
        <title>Teacher CRUD</title>
    </head>
    
    <body>
        <button type="button" class="btn btn-light"><a href="/new">Create New Teacher</a></button> 
        <div class="container">
            <div class="table-responsive">                
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Teacher <b>List</b></h2></div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>
                    <table class="table table-dark table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Teacher Real ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Subject</th>
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacher : ${listTeachers}">
                                <td th:text="${teacher.id}">Teacher ID</td>
                                <td th:text="${teacher.fName}">First Name</td>
                                <td th:text="${teacher.lName}">Last Name</td>
                                <td th:text="${teacher.subject}">Subject</td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${teacher.id})}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a th:href="@{/delete/{id}(id=${teacher.id})}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>       
                        </tbody>
                    </table>               
            </div>        
        </div>   
    </body>
</html>
